{% extends 'base.html' %}
{% block title %}Enter new password{% endblock title %}

{% block content %}
<div class="login-container">
    <a class="cancel-btn" href="{% url 'home' %}">&#128473;</a>
    <h1 class="heading1">Set a new password!</h1>
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <p>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            <!-- <span class="helptext"></span> -->
        </p>

        <!-- <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        <p></p> -->

        <p class="new-password-confirm">
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
        </p>
        <button type="submit" class="signin-btn">Change my password</button>
    </form>
</div>
{% endblock content %}