{% extends 'base.html' %}

{% block title %} Password change {% endblock %}

<!-- {% block signin %}
<li class="navlink"><a href="{% url 'login' %}"><u>Sign in</u></a></li>
{% endblock signin %} -->

{% block content %}
<div class="login-container">
    <a class="cancel-btn" href="{% url 'home' %}">&#128473;</a>
    <h1 class="heading1">Password Change.</h1>
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">Please enter your old password, for security's sake, and then enter
        your new password twice so we can verify you typed it in correctly.</p>
    <form class="login-form" action="" method="post">
        {% csrf_token %}
          <!-- {{form.as_p}} is the same as all these paragraphs seen here, this way is just easier to style/adjust -->
        <p>
            <label for="id_old_password">Old password:</label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus="" required=""
                id="id_old_password">
        </p>
        <p>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
    
            <!-- <span class="helptext"></span> -->
        </p>
        <!-- <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    
    
        <p></p> -->
        <p class="new-password-confirm">
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">    
        </p>
        <button type="submit" class="signin-btn">Change my password.</button>
    </form>
</div>
{% endblock content %}
