{% extends 'base.html' %}
{% load static %}

{% block title %} No Profile {% endblock title %}

{% block nav %}
<nav class="detail-nav">
    {% endblock nav %}

    {% block content %}

    <div id="profile-home-body">
        <div id="profile-main">
            <div id="profile-main-container1">
                <h1>You don't have a Profile</h1>
                <div id="profile-home-about-container">
                    <!-- <div id="profile-home-about-container-link">
                        <a href="" id="profile-home-link">Home</a><a href="">About</a>
                    </div> -->
                </div>

            </div>

        </div>
        <div id="profile-side"></div>
    </div>
    {% endblock content %}