{% extends 'base.html' %}
{% load static %}

{% block title %} Terms page {% endblock %}

{% block content %}
<div class="terms-container1">
    <h2>Our Terms and Conditions.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quis non placeat at ipsa corrupti, iusto, dolore veritatis voluptatibus, omnis voluptas repellat maxime provident! Tempore maiores debitis quidem reprehenderit omnis.
    Sunt in cumque itaque, eligendi aliquam obcaecati ea minus, quidem fugiat molestias nulla repellat. Excepturi distinctio nemo dolore ut eaque nam hic dignissimos magnam quidem libero consequuntur ab, fugit totam.
    Necessitatibus ea dignissimos nam? Minima porro eligendi vitae sed iusto suscipit cupiditate, nesciunt animi quos maiores nostrum doloribus optio officia architecto quis pariatur ea eveniet sapiente. Dicta nam sapiente molestias!
    Ea exercitationem iure cum explicabo excepturi et harum facilis facere dolorem repellat veritatis laborum voluptatem sunt voluptas necessitatibus repudiandae quaerat perferendis ab, rem doloremque architecto earum, vitae dicta. Accusantium, maiores!
    Iure corporis asperiores nisi nesciunt error nostrum nulla illum expedita provident, vitae repellendus ipsa voluptas perferendis sunt atque possimus suscipit. Ipsum eaque, doloremque quibusdam voluptatibus quae aliquid sit officia optio.
    Nobis molestiae quibusdam consequuntur consequatur nisi, nulla eveniet labore, magnam suscipit repellat quidem in tempora fugiat debitis nihil. Est corrupti reiciendis repellat in quam quos cumque eligendi blanditiis voluptate architecto?</p>
</div>

{% endblock content %}
